.input-map .input-map-pairs{
    @extend .list-unstyled;
    >*{
        margin-bottom: $space-size;
        padding: $space-size/2;
    }
    >*:nth-child(2n){
        background-color: $gray-lighter;
    }
}
.input-map .form-group{
    padding-left: 0px;
    >*{
        display: inline-block;
        width: 48.2%;
    }
}