.input-map .input-map-pairs{
    @extend .list-unstyled;
    >*{
        margin-bottom: $space-size;
    }
    >*:nth-child(2n){
        background-color: $gray-lighter;
    }
}
.input-map .form-group{
    padding-left: 0px;
    margin-bottom: 0.5em;
    >*{
        display: inline-block;
        &:last-child{
                        margin-left: 15px;
                    }
    }
}