@media(min-width: $screen-sm){
    
    .motech-list{
        border-bottom: 0px;
        margin-bottom: $space-size;
        .motech-list-column-headers,
        .motech-list-rows{
            border-left: $list-color 1px solid;
            border-right: $list-color 1px solid;
        }
        >header,
        .motech-list-rows>li,
        .motech-list-column-headers {
            border-bottom: $list-color 1px solid;
        }
        .motech-list-rows>li>*,
        .motech-list-rows>li>dl>dd,
        .motech-list-column-headers>*{
            padding: $space-size/2;
            border-left: $list-color 1px solid;
            &.list-item-main,
            &.motech-list-collapsible,
            &.list-item-collapsible-toggle {
                border-left-width: 0px;
            }
            &.motech-list-collapsible{
                border-top: $list-color 1px solid;
            }
        }
        .motech-list-rows>li>dl{
            border: 0px;
            padding: 0px;
        }
        .motech-list-column-headers{
            background-color: $brand-accent;
            @include background(linear-gradient(to bottom, $brand-accent 0%, $list-color 100%) center no-repeat);
            font-weight: bold;
            color: $brand-primary;
            >li{
                text-align: center;
            }
        }
        .motech-list-rows>li:nth-child(even){
            background-color:$gray-lighter;
        }
    }

    .motech-list .motech-list-rows>li,
    .motech-list-column-headers{
        display: block;
        >*{
            display: inline-block;
            white-space: nowrap;
        }
        >dl{
            margin-bottom: 0px;
            >dd{
                display: inline-block;
            }
            >dt{
                display: none;
            }
        }
        .motech-list-collapsible{
            display: none;
            width: 100%;
        }
    }
    .motech-list.has-collapsible-content{
        .motech-list-column-headers{
            padding-left: 30px;
        }
        .motech-list-rows>li{
            position: relative;
            padding-left: 30px;
            >a.list-item-collapsible-toggle{
                width: 30px;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
            }

        }
    }
}