<section class="motech-list" ng-class="{'is-loading': loading}">
    <header ng-transclude="header"></header>
    <nav>
        <ul class="motech-list-column-headers">
            <li ng-repeat="column in MotechListCtrl.columns" motech-list-column-id="{{column.id}}" class="{{column.cssClasses}}">
                <a ng-if="column.sortable" ng-click="sortBy(column.id)" class="icon-sort">Sort by {{column.name}}</a>
                <a ng-if="column.sortable && isSortedBy(column) && isSortedAsc()" ng-click="sortByDesc(column.id)" class="icon-sort">Reverse sort by {{column.name}}</a>
                <a ng-if="column.sortable && isSortedBy(column) && isSortedDesc()" ng-click="sortByAsc(column.id)" class="icon-sort">Reverse sort by {{column.name}}</a>
                <span id="data-list-{{column.id}}-title" >{{column.name}}</span>
            </li>
        </ul>
    </nav>
    <div ng-if="$('ul#items li').length==0" class="alert">{{emptyListMessage}}</div>
    <ul ng-transclude class="motech-list-rows"></ul>
    <footer ng-transclude="footer">{{footer}}</footer>
</section>