<legend class="frame-title">{{'admin.platform.settings' | translate}}</legend>
<form id="settingsFileForm" enctype="multipart/form-data" ng-submit="uploadSettings()">
    <fieldset>
        <h4 class="section-title">{{'admin.settings.upload' | translate}}</h4>
        <div class="form-group">
            <label for="fileInput">{{'admin.settings.fileChosen' | translate}}</label>
            <input class="button-file" type="file" id="fileInput" name="file" value="{{'server.button.selectFile' | translate}}" admin-import="settingsFile"/>
        </div>
    </fieldset>
    <input type="submit" value="{{'admin.submit' | translate}}" />
</form>
<form id="settingsLocationForm" method="post" ng-submit="uploadFileLocation()">
    <fieldset>
        <h4 class="section-title">{{'admin.settings.location' | translate}}</h4>
        <div class="form-group">
            <label for="settingsLocation">{{'admin.settings.location.new' | translate}}</label>
            <input type="text" id="settingsLocation" name="settingsLocation" ng-model="location"/>
        </div>
    </fieldset>
    <input type="submit" value="{{'admin.submit' | translate}}"/>
</form>
<form>
    <fieldset>
        <h4 class="section-title">{{'admin.settings.importexport.header' | translate}}</h4>
        <div class="form-group">
            <label for="exportConfig">{{'admin.settings.importexport.export' | translate}}</label>
            <input class="button button-export" type="button" id="exportConfig" name="exportConfig" ng-click="exportConfig()" value="{{'admin.settings.importexport.exportButton' | translate}}" />
        </div>
    </fieldset>
</form>

<h4 class="section-title">{{'admin.settings.platform' | translate}}</h4>
<div ng-repeat="pSettings in platformSettings.settingsList">
    <form id="platformSettingsForm">
        <h4 class="partial-title">{{'admin.settings.section.'+ pSettings.section | translate}}</h4>
        <div class="form-group" ng-repeat="option in pSettings.settings">
            <label ng-if="!isBool(option)" for="{{option.key}}">
                {{'admin.settings.' + option.key | translate}}
                <span class="icon-documentation" data-trigger="hover" data-placement="left" bs-popover="{{'admin.settings.tooltip.' + option.key | translate}}" />
            </label>
            <input ng-if="isTextOrNumber(option)"ng-disabled="platformSettings.readOnly" type="text" id="{{option.key}}" name="{{option.key | translate}}" ng-model="option.value" />
            <fieldset ng-if="isBool(option)">
                <label ng-if="isBool(option)" class="checkbox">
                    <input ng-disabled="platformSettings.readOnly" type="checkbox" id="{{option.key}}" name="{{option.key}}" ng-model="option.value" />
                    {{'admin.settings.' + option.key | translate}}
                    <span class="icon-documentation" data-trigger="hover" data-placement="left" bs-popover="{{'admin.settings.tooltip.' + option.key | translate}}" />
                </label>
            </fieldset>
            <div ng-if="isCombobox(option)" ng-init="addValue(option.key, option.value)">
                <select ng-model="option.value" ng-disabled="platformSettings.readOnly" ng-options="value for value in getComboboxValues(option.key)">
                    <option ng-if="!option.value" value="">{{'mds.form.label.select' | translate}}</option>
                </select>
                <input ng-disabled="platformSettings.readOnly" type="text" ng-model="userValidator" />
                <button class="button-add" type="button" ng-disabled="!userValidator" ng-click="addValue(option.key, userValidator)">Add option</button>
            </div>
        </div>
        <input ng-if="!platformSettings.readOnly" type="submit" ng-click="saveSettings(pSettings)" value="{{'admin.save' | translate}}" />
    </form>
</div>
<div ng-show="platformSettings.settingsList.length <= 0">
    <h4 class="section-title">{{'admin.settings.noSettings' | translate}}</h4>
    <form id="noSettingsForm" ng-submit="saveNewSettings()">
        <fieldset>
            <div class="form-group">
                <label for="new.db.host">{{'admin.label.db.host' | translate}}</label>
                <input id="new.db.host" type="text" name="db.host" ng-model="newSettings.host"/>
            </div>
            <div class="form-group">
                <label for="new.db.port">{{'admin.label.db.port' | translate}}</label>
                <input id="new.db.port" type="text" name="db.port" ng-model="newSettings.port"/>
            </div>
            <div class="form-group">
                <label for="new.db.user">{{'admin.label.db.username' | translate}}</label>
                <input id="new.db.user" type="text" name="db.username" ng-model="newSettings.username"/>
            </div>
            <div class="form-group">
                <label for="new.db.password">{{'admin.label.db.password' | translate}}</label>
                <input id="new.db.password" type="text" name="db.host" ng-model="newSettings.password"/>
            </div>
        </fieldset>
        <input type="submit" value="{{'admin.submit' | translate}}" class="button-primary" />
    </form>
</div>