.settings-form .form-group{
    >label{
        white-space: normal;
        >.checkbox{
            position: static !important;
        }
    }
    >legend{
        @extend label;
        text-align: right !important;
        width: $sidebar-width !important;
    }
    .button-export{
         width: $sidebar-width;
     }
    .button-file{
        height: auto;
    }
}