/*
Base

This is a collection of the basic styles that are used through the MOTECH Platform.

markup:
<h1 class="logo">MOTECH</h1>
<h2 class="title-block">Block style title</h2>
<p>This is a sample paragraph</p>
<ul>
	<li>List item</li>
	<li>Another list item</li>
</ul>

Styleguide 1.0
*/

.block-title {
  background-color: $brand-primary;
  color: $white;
  font-weight: bold;
  padding: 1em 2em;
}

.container {
	position: relative;
}

.logo {
	@include background-image(url("../img/motech-logo.gif") center no-repeat); // TODO: Make logo SVG
}

/*
Buttons

Buttons represent taking an action in MOTECH - juxoposed to a link which represents navigating through MOTECH. Most buttons should be the default color, with the exception of: a primary action button (which submits a form of changes a state), an add button which is creating new data in MOTECH (and should launch a modal window), or a delete button (which much launch a modal window to confirm the action).

markup:
<button >Button</button>
<button class="button-primary">Primary Button</button>
<!-- Used to add new content and should launch a modal window -->
<button class="button-add">Add Button</button>
<button class="button-edit">Edit Button</button>
<!-- Used to delete content and must launch a modal window to confirm the action -->
<button class="button-delete">Delete Button</button>

Styleguide 1.1
*/

button,
.button,
.button-default {
	@extend .btn;
	@extend .btn-default;
  &:before{
    @extend .fa;
    margin-right: 0.5em;
  }
}
button.primary,
.button-primary {
	@extend .btn-primary;
}
button.add,
.button-add,
button.create,
.button-create {
  @extend .btn-success;
  &:before {
    @extend .fa-plus;
  }
}
button.edit,
.button-edit {
  &:before {
    @extend .fa-pencil;
  }
}
button.delete,
.button-delete {
  @extend .btn-danger;
  &:before {
    @extend .fa-trash;
  }
}

/*
Icon Buttons

Some buttons will be inserted into small areas and won't have visible text, an example of this would be a close button. To meet accessibility standards, the button must actually contain text to be visible to a screen reader. Additionally, we recommend that title attributes are not used on these buttons because they don't add content to most screen readers. If additional text is needed to make the use of a tiny button clear, either make it a full sized button, or implement a bootstrap popover.

markup:
<!-- .close is the only implicitly icon class -->
<button class="close">Close</button>
<!-- Inherits styles from .button, below are variations -->
<button class="icon add">Add</button>
<button class="icon button-edit">Edit</button>
<button class="button-icon delete">Delete</button>

Styleguide 1.1.1
*/

button.icon,
.button-icon {
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-indent: -300em;
	width: 2em;
	height: 2em;
	&:before {
		position: absolute;
		top: 0.5em;
		left: 0px;
		width: 100%;
		text-align: center;
		margin: 0px;
		font-size: 1em;
		text-indent: 0px;
	}
}

.close {
	font-size: $font-size-base;
}

// Much of this style overwrites Bootstrap's modal .close
button.close,
.button-close {
	@extend .button-icon;
	color: $btn-danger-color;
	background: $btn-danger-bg;
	border: $btn-danger-border 1px;
	float: none;
	opacity: 1;
	&:hover {
		opacity: 1;
		background-color: darken($btn-danger-bg, 20%);
	}
	&:before {
		@extend .fa-times;
		color: $btn-danger-color;
		text-shadow: 0px 0px #fff;
	}
}

/*
Button Groups

There are two different categories for button groups, primary button groups and everything else. Primary button groups are used to submit forms or take an action on an item.

markup:
<div class="button-group-primary">
	<button class="add">Add Sub-Item</button>
	<button class="primary">Save</button>
</div>
<div class="button-group">
	<button class="add">Add Item</button>
	<button class="delete">Delete all items</button>
</div>
<div class="button-group">
	<button>Filter</button>
</div>


Styleguide 1.1.2
*/
.button-group{
	@extend .btn-group;
}

.button-group-primary,
.button-group.primary {
	@extend .btn-group;
	float: right;
	button.icon, button-icon {
		height: 2.37em; //magic number...
	}
}

/*
Page Navigation

Page navigation sections are collections of links that change the page, but don't preform actions.

Styleguide 1.2
*/

nav.navbar {
	@extend .navbar;
	@extend .navbar-default;
}
