/*
Base

This is a collection of the basic styles that are used through the MOTECH Platform.

markup:
<h1>Sample Heading</h1>
<p>This is a sample paragraph</p>

Styleguide 1.0
*/

body{
    background-color: $brand-primary;
}


.button {
	@extend .btn;
	@extend .btn-default;
}
.button-primary {
	@extend .btn;
	@extend .btn-primary;
}


.block-title {
	background-color: $brand-primary;
	color: $white;
	font-weight: bold;
	padding: $space-size $space-size*2;
}