/*
Forms

This is a collection of how to build basic forms in the MOTECH Platform. The goal of these forms is to support an accessiable and clear experience.

Styleguide 2.0
*/

fieldset {
	legend {
		font-size: 1em;
		border-bottom: 0px;
	}
}

form {
	@extend .clearfix;
	.error{
		@extend .alert;
		@extend .alert-danger;
	}
	.warning{
		@extend .alert;
		@extend .alert-warning;
	}

	.button-primary {
		float:right;
	}

	input[type="submit"] {
		@extend .button-primary;
	}
	.form-actions{
		margin: 1em 0px;
		float: right;
	}
}


.form-group {
	input {
		@extend .form-control;
	}
	ul {
		@extend .list-unstyled;
	}
}