// COLORS
$brand-primary: #144573;
$brand-secondary: #FFB900;
$brand-accent: #c2eafe;

$white: #FFFFFF;

$btn-default-bg: #eee;
$btn-primary-bg: lighten($brand-primary, 15);

// BORDERS
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

// MODALS
$modal-md: 450px;
$modal-sm: 230px;
