<form id="auth.reset_password.form" name="form" method="post" ng-submit="send()">
    <h4>{{ 'security.enterEmailQuestions' | translate }}</h4>

    <p>{{ 'security.enterEmailMsg' | translate }}</p>

    <p ng-if="error" class="error">{{ error | translate }}</p>

    <div class="form-group">
        <label>{{ 'security.enterEmail' | translate }}</label>
        <input id="auth.reset_password.email" ng-model="email" name="email" type="email"/>
    </div>

    <input id="auth.reset_password.submit" class="btn btn-primary" type="submit" value="{{ 'security.sendReset' | translate }}"/>
    <button id="auth.reset_password.back" type="button" ng-click="back()"  >{{ 'security.back' | translate }}</button>
</form>