<form id="auth.reset_password.form" name="form" class="inside form-horizontal" method="post" ng-submit="send()">
    <div class="well3">
        <div class="form-group">
            <h4>{{ 'security.enterEmailQuestions' | translate }}</h4>
        </div>
        <div class="form-group">
            <p>{{ 'security.enterEmailMsg' | translate }}</p>
        </div>
        <p ng-if="error" class="error">{{ error | translate }}</p>
        <div class="form-group">
            <label>{{ 'security.enterEmail' | translate }}</label>
            <input id="auth.reset_password.email" class="col-sm-12 form-control" ng-model="email" name="email" type="email">
        </div>
        <div class="form-group">
            <input id="auth.reset_password.submit" class="btn btn-primary" type="submit" value="{{ 'security.sendReset' | translate }}"/>
            <button id="auth.reset_password.back" type="button" ng-click="back()"  >{{ 'security.back' | translate }}</button>
        </div>
    </div>
</form>
