<form id="email.export.log-form" name="exportEmailLogForm" ng-submit="export()" >
    <div class="form-group">
        <label>{{'email.logging.exportEmailsLog'|translate}}</label>
        <div class="input-group">
            <label class="radio">
                <input id="email.export.all" type="radio" ng-model="range" value="all" />
                {{'email.logging.all'|translate}}
            </label>
            <label class="radio">
                <input id="email.export.from-table" type="radio" ng-model="range" value="table" />
                {{'email.logging.table'|translate}}
            </label>
            <label class="radio">
                <input id="email.export.from-month" type="radio" ng-model="range" value="month" />
                {{'email.logging.month'|translate}}
            </label>
        </div>
    </div>
    <div ng-if="range=='month'" class="form-group" >
        <label>{{'email.logging.pickMonth'|translate}}</label>
        <input id="email.export.month-picker" ng-model="month" email-export-date-picker required />
    </div>
    <input id="email.export.submit" type="submit" value="Export" />
    <button ng-click="close()" id="email.export.close" >{{'email.logging.close'|translate}}</button>
</form>
