<button class="icon-export" ng-click="showExportModal()">{{ 'email.logging.export' | translate }}</button>
<button class="icon-filter motech-sidebar-button">{{ 'email.logging.filters' | translate }}</button>

<motech-data-grid service="emailLogsService" paginated>
    <motech-data-grid-item ng-repeat="log in logs">
        <span motech-data-grid-column="id" title="" >{{log.id}}</span> 
    	<span motech-data-grid-column="status" title="Status" sortable>{{log.deliveryStatus}}</span>
    	<span motech-data-grid-column="toAddress" title="To" sortable>{{log.toAddress}}</span>
    	<span motech-data-grid-column="fromAddress" title="From" sortable>{{log.fromAddress}}</span>
    	<span motech-data-grid-column="subject" title="Subject" sortable>{{log.subject}}</span>
        <span motech-data-grid-column="deliveryTime" title="Delivery Time" sortable>{{log.deliveryTime}}</span>
    </motech-data-grid-item>
</motech-data-grid>
<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
<motech-sidebar title="{{ 'email.logging.filters' | translate }}">
    <fieldset>
        <legend>{{ 'email.logging.search' | translate }}</legend>
        <div class="form-group">
        	<label for="logsSubject" class="placeholder">{{'email.logging.search' | translate }}</label>
            <input id="logsSubject" type="text" ng-model="search.subject" />
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ 'email.logging.creationDate' | translate }}</legend>
        <div class="form-group">
        	<label for="logsFrom" class="placeholder">{{'email.logging.fromAddress' | translate}}</label>
            <input id="dateTimeFrom" date-picker ng-model="search.dateTimeFrom" max="search.dateTimeTo" type="datetime" />
        </div>
        <div class="form-group">
        	<label for="dateTimeTo" class="placeholder">{{'email.logging.toAddress' | translate}}</label>
            <input id="dateTimeTo" date-picker ng-model="search.dateTimeTo" min="search.dateTimeFrom" type="datetime"  />
        </div>
    </fieldset>
    <fieldset>
        <legend>{{'email.logging.disposition' | translate }}</legend>
        <div class="input-group">
            <label class="checkbox">
                <input type="checkbox" checklist-model="search.deliveryStatus" checklist-value="'ERROR'" />
                {{'email.logging.error' | translate}}
            </label>
            <label class="checkbox">
                <input type="checkbox" checklist-model="search.deliveryStatus" checklist-value="'SENT'" />
                {{'email.logging.sent' | translate}}
            </label>            
            <label class="checkbox">
                <input type="checkbox" checklist-model="search.deliveryStatus" checklist-value="'RECEIVED'" />
                {{'email.logging.received' | translate}}
            </label>
        </div>
    </fieldset>
</motech-sidebar>