<h4>{{ 'email.settings.title' | translate }}</h4>
<form id="emailSettingsForm" name="emailSettingsForm">
    <fieldset>
        <div class="form-group">
            <label for="settingsHost">{{'email.settings.host' | translate}}</label>
            <input ng-model="settings.host" type="text" id="settingsHost" required/>
            <span ng-hide="settings.host" class="form-hint">{{ 'email.field.required' | translate }} {{ 'email.settings.host' | translate }}</span>
        </div>
        <div class="form-group">
            <label for="settingsPort">{{ 'email.settings.port' | translate }}</label>
            <input ng-model="settings.port" type="text" id="settingsPort" required/>
            <span ng-hide="settings.port" class="form-hint">{{ 'email.field.required' | translate }} {{ 'email.settings.port' | translate }}</span>
            <span ng-hide="isNumeric('port')" class="form-hint">{{ 'email.field.numeric' | translate }} {{ 'email.settings.port' translate }}</span>
        </div>

        <div class="form-group">
            <label for="settingsUsername">{{ 'email.settings.username' | translate }}</label>
            <input ng-model="settings.username" type="text" id="settingsUsername"/>
        </div>

        <div class="form-group">
            <label for="settingsPassword">{{ 'email.settings.password' | translate }}</label>
            <input class="form-control input-auto" ng-model="settings.password" type="text" id="settingsPassword"/>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ 'email.settings.log.title2' | translate }} </legend>
        <div class="form-group">
            <label class="checkbox">
                <input ng-model="settings.logAddress" type="checkbox" id="settingsLogAddress"
                       ng-true-value="true" ng-false-value="false" />
                {{ 'email.settings.log.address' | translate }}
            </label>
            <label class="checkbox" for="settingsLogSubject">
                <input ng-model="settings.logSubject" type="checkbox" id="settingsLogSubject"
                       ng-true-value="true" ng-false-value="false" />
                {{'email.settings.log.subject' | translate }}
            </label>
            <label class="checkbox" for="settingsLogBody">
                <input ng-model="settings.logBody" type="checkbox" id="settingsLogBody"
                       ng-true-value="true" ng-false-value="false" />
                {{ 'email.settings.log.body' | translate }}
            </label>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ 'email.settings.log.title3' | translate }}</legend>

        <div ng-repeat="(key, value) in settings.additionalProperties">
            <div class="form-group">
                <label class="col-md-3 col-sm-4 control-label">{{key}}</label>

                <div class="form-inline col-md-9 col-sm-8">
                    <input class="form-control input-auto" ng-model="settings.additionalProperties[key]" type="text"/>
                    <a class="btn btn-sm btn-default btn-danger-hover" ng-click="remove(key)">
                        <i class="fa fa-lg fa-trash-o"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="settingsUsername">{{'email.settings.key' | translate}}</label>
            <input ng-model="property.name" type="text" id="settingsPropertyName" />
        </div>

        <div class="form-group">
            <label for="settingsUsername">{{'email.settings.value' | translate}}</label>
            <input ng-model="property.value" type="text" id="settingsPropertyValue" />
            <input ng-disabled="emptyFields(property)" ng-click="add(property)" type="button" value="{{ 'email.settings.add' | translate }}" class="btn btn-default"/>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ 'email.settings.log.title2' | translate }}</legend>

        <div class="form-group form-inline">
            <label class="checkbox">
                <input ng-model="settings.logPurgeEnable" type="checkbox" id="settingsLogPurgeEnable"
                   ng-true-value="true" ng-false-value="false" />
                {{ 'email.settings.log.purge' | translate }}
            </label>
            <div class="checkbox">
                <input email-purge-time ng-disabled="purgeTimeControlsDisabled()" ng-model="settings.logPurgeTime" type="text" id="settingsLogPurgeTime" />
                <select ng-disabled="purgeTimeControlsDisabled()"  ng-model="settings.logPurgeTimeMultiplier" ng-options="k as v for (k , v) in timeMultipliers" ></select>
            </div>
        </div>
    </div>

    <input ng-disabled="emailSettingsForm.$invalid" ng-click="submit()" type="submit" value="{{ 'email.settings.submit' | translate }}" />
    </fieldset>
</form>
