<form>
    <legend>{{'admin.messages.filters' | translate}} </legend>
    <fieldset>
        <legend>{{'admin.messages.search' | translate}}</legend>
        <div class="form-group">
            <input type="text" ng-model="query" ng-change="search()" class="form-control input-sm search-query" placeholder="{{msg('admin.messages.searchByContent')}}">
        </div>
    </fieldset>
    <fieldset class="inside">
        <legend>{{'admin.messages.date' | translate}}</legend>
        <div class="form-group">
            <input id="messagesDateTimeFrom" ng-model="dateTimeFrom" messages-date-picker="" type="datetime" class="form-control input-sm search-query" placeholder="{{'admin.messages.from' | translate}}" >
        </div>
        <div class="form-group">
            <input id="messagesDateTimeTo" ng-model="dateTimeTo" messages-date-picker="" type="datetime" class="form-control input-sm search-query" placeholder="{{'admin.messages.to' | translate}}">
        </div>
    </fieldset>
    <fieldset class="inside">
        <legend>{{'admin.messages.moduleName' | translate}}</legend>
        <div class="form-group input-auto">
            <div class="btn-group">
                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    {{filterModule || msg('admin.messages.select')  | uppercase}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-model="filterModule" ng-model="filterModule" ng-repeat="value in modules">
                        <a ng-click="setFilterModule(value)">
                            {{value | uppercase}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
    <fieldset class="inside">
        <legend>{{'admin.messages.level | translate)}}</legend>
        <div class="form-group btn-group-vertical">
            <button id="level" ng-repeat="messagesLevel in messagesLevels" ng-click="setFilterLevel(messagesLevel)" set-level-filter="messagesLevel" class="btn btn-info btn-sm" type="button"><i class="fa fa-fw fa-square-o">{{msg('admin.messages.'+messagesLevel) | uppercase}}</i></button>
        </div>
    </fieldset>
</form>