.badge-important {
  background-color: #b94a48;
}

.badge-warning {
  background-color: #f89406;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #3a87ad;
}

.messages-textField {
  max-width: 150px;
}
