.badge-important {
  background-color: $red;
}

.badge-warning {
  background-color: $yellow;
}

.badge-success {
  background-color: $green;
}

.badge-info {
  background-color: $blue;
}

.messages-text-field {
  max-width: $text-field-width;
}
