<h4 class="frame-title">{{'scheduler' | translate}}</h4>
<motech-list paginated>
    <motech-list-header>
        <div class="button-group-primary">
            <button class="button-add" ui-sref="scheduler.createOrUpdateJob({ action: 'new' })" type="button">{{'scheduler.scheduleJob' | translate}}</button>
        </div>
        <div class="button-group">
            <button class="icon-filter motech-sidebar-button" type="button">{{'scheduler.filters' | translate}}</button>
        </div>
    </motech-list-header>
    <motech-list-item ng-repeat="job in jobs.rows">
        <div column-title="Name">
            <h4>{{job.name}}</h4>
        </div>
        <motech-list-column column-title="Status" class="{{getStatusIcon(job.status)}}">{{getStatus(job.status) | translate}}</motech-list-column>
        <motech-list-column column-title="Activity" class="{{getActivityIcon(job.activity)}}">{{getActivity(job.activity) | translate}}</motech-list-column>
        <motech-list-collapsible ng-init="getDetails(job)">
            <div ng-if="job.uiDefined">
                <div class="button-group-primary">
                    <button class="button-edit" type="button" ng-click="editJob(job)" ui-sref="scheduler.createOrUpdateJob({ action: 'edit' })">Edit</button>
                    <button ng-click="deleteJob(job)" class="button-delete">Delete</button>
                </div>
                <div class="button-group">
                    <button ng-if="job.status === 'OK'" ng-click="pauseJob(job)" type="button" class="button"><i class="icon-pause"></i>Pause</button>
                    <button ng-if="job.status === 'PAUSED'" ng-click="resumeJob(job)" type="button" class="button"><i class="icon-start"></i>Resume</button>
                </div>
            </div>
            <div ng-if="!job.uiDefined">
                <dl>
                    <dt>{{'scheduler.startDate' | translate}}</dt>
                    <dd>{{job.startDate}}</dd>
                    <dt>{{'scheduler.endDate' | translate}}</dt>
                    <dd>{{job.endDate}}</dd>
                    <dt>{{'scheduler.jobType' | translate}}</dt>
                    <dd>{{job.jobType}}</dd>
                    <dt>{{'scheduler.info' | translate}}</dt>
                    <dd>{{job.info}}</dd>
                    <dl ng-repeat="items in jobDetails[job.name].eventInfoList">
                        <dt>{{'scheduler.subject' | translate}}</dt>
                        <dd>{{items.subject}}</dd>
                        <div ng-repeat="(key, value) in items.parameters">
                            <dt>{{key}}</dt>
                            <dd>{{value}}</dd>
                        </div>
                    </dl>
                </dl>
            </div>
        </motech-list-collapsible>
    </motech-list-item>
    <motech-list-footer>
        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="changePageTo(currentPage)"></uib-pagination>
    </motech-list-footer>
</motech-list>
<motech-sidebar title="{{ 'scheduler.filters' | translate }}">
    <form>
        <fieldset>
            <legend>{{ 'scheduler.name' | translate }}</legend>
            <div class="form-group">
                <input id="jobsName" type="text" ng-model="search.name" placeholder="{{'scheduler.search' | translate }}"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ 'scheduler.running' | translate }}</legend>
            <div class="form-group">
                <input id="timeFrom" date-picker ng-model="search.timeFrom" max="timeTo" type="datetime" placeholder="{{'scheduler.from' | translate }}"/>
            </div>
            <div class="form-group">
                <input id="timeTo" date-picker ng-model="search.timeTo" min="timeFrom" type="datetime" placeholder="{{'scheduler.to' | translate }}"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{'scheduler.activity' | translate }}</legend>
            <input-filter-group checkboxes="activityCheckboxes" ng-model="search.activity"></input-filter-group>
        </fieldset>
        <fieldset>
            <legend>{{'scheduler.status' | translate }}</legend>
            <input-filter-group checkboxes="statusCheckboxes" ng-model="search.status"></input-filter-group>
        </fieldset>
    </form>
</motech-sidebar>