.period .slider-label {
    clear: both;
    float: left;
    margin: 18px 15px 5px 0;
    text-align: right;
    width: 100px;
    overflow: hidden;
}

#period-year, #period-month, #period-week,
#period-day, #period-hour, #period-minute,
#period-second {
    clear: right;
    float: left;
    margin: 21px 10px 10px;
    width: 205px;
}

#amount-period-year, #amount-period-month,
#amount-period-week, #amount-period-day,
#amount-period-hour, #amount-period-minute,
#amount-period-second {
    background: none;
    border: 0;
    color: #224477;
    font-weight: bold;
    margin: 16px 0 4px;
    float: left;
    width: 45px;
    font-size: 18px;
}