.form-inline {
    display: inline-flex;
    flex-wrap: wrap;
    >*{
        display: inline-block;
        position: relative;
        padding-right: $space-size;
        &:last-child{
            padding-right: 0px;
        }
        input[type=text], select{
        }
    }
    .form-group{
        padding-left: 0px; // form-wide sets this to 180px
        display: flex;
        flex-grow: 1;
    }
    .form-group label{
        text-align: left;
        width: 4em;
    }
    .form-group input{
            text-align: left;
            flex-grow: 1;
        }
}