.input-group,
form .input-group{
    display: block;
    >*,
    >.form-group{
        display: inline-block;
        width: auto;
        padding-left: 0px;
    }
    legend, label{
        display: block;
        width: 100%;
    }
    .form-group label{
        @extend .hidden;
    }
}