
@mixin form-compact() {
    .form-group {
        display: block;
        padding-left: 0px;
        >*{
            width: 100%;
        }
        label, legend{
            width: 100%;
            text-align: left;
            position: static;
            width: 100%;
        }
    }
    fieldset.form-group{
        padding-left: 0px;
        position: relative;
        >legend, label{
            text-align: left;
            position: static;
            width: 100%;
        }
    }
}

@mixin form-wide() {
    .form-group {
        position: relative;
        padding-left: $sidebar-width*1.1;
        >label,
        >legend {
            position: absolute;
            top: 0px;
            left: 0px;
            width: $sidebar-width;
            text-align: right;
        }
        >label.checkbox,
        >label.radio{
            text-align: left;
        }
    }
    fieldset.form-group{
        display: block;
        padding-left: $sidebar-width*1.1;
        position: relative;
        >legend {
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}