/*
Forms

This is a collection of how to build basic forms in the MOTECH Platform. The goal of these forms is to support an accessiable and clear experience.

markup:
<form>
    <fieldset>
        <legend>Enter example input</legend>
        <div class="form-group">
            <label for="exampleTextInput">Example text input</label>
            <input id="exampleTextInput" type="text" />
            <ul id="exampleTextInput-description" >
                <li class="info">This field doesn't do anything</li>
            </ul>
        </div>
        <fieldset class="form-group">
            <legend>Example input group</legend>
            <div class="input-group">
                <label class="radio" >
                    <input type="radio" name="radioExample" value="1" />
                    Option 1
                </label>
                <label class="radio" >
                    <input type="radio" name="radioExample" value="2" />
                    Option 2
                </label>
                <label class="radio" >
                    <input type="radio" name="radioExample" value="3" />
                    Option 3
                </label>
            </div>
        </fieldset>
        <div class="form-group">
            <label class="checkbox">
                <input type="checkbox" />
                Single checkbox
            </label>
        </div>
    </fieldset>
    <input type="submit" value="Submit example form" />
    <button ng-click="reset()" >Reset form</button>
</form>

Styleguide 3.0
*/

form, input, button, select, textarea {
    font-family: $font-family-base;
    color: $text-color;
}

fieldset {
    legend {
        font-size: 1em;
        border-bottom: 0px;
        margin: 0em;
        padding-top: 0.5em;
        padding-bottom: 0.25em;
    }
    &.form-group legend {
        font-weight: bold;
    }
}
.form-group {
    @extend .clearfix;
    input {
        @extend .form-control;
    }
    ul {
        @extend .list-unstyled;
    }
}
form {
    @extend .clearfix;
    .alert{
        margin: 0px;
        padding: 1em;
    }
    .error{
        @extend .alert;
        @extend .alert-danger;
    }
    .warning{
        @extend .alert;
        @extend .alert-warning;
    }
    .info {
        @extend .alert;
        @extend .alert-info;
    }
    .button-primary {
        float:right;
    }
    input[type="submit"] {
        @extend .button;
        @extend .button-primary;
    }

    .input-group{
        width: 100%;
    }

    label.radio, label.checkbox {
        @extend .radio;
        margin: 0em;
        margin-bottom: 0.5em;
        font-weight: normal;
        input {
            position: static !important;
            display: block !important;
            float: left !important;
            width: auto !important;
            height: auto !important;
            margin: 0px !important;
            margin-right: 0.5em !important;
            border-width: 0px;
            box-shadow: 0px 0px 0px $white;
            padding: 0px;
        }
    }
    .form-group{
        margin-bottom: 1em;
        >label, >legend{
            padding: $space-size/2 $space-size;
            margin: 0em;
        }
        ul{
            margin: 0px;
        }
    }
}


form {
    @include form-compact();
}

@media (min-width: $screen-sm) {
    form {
        @include form-wide();
    }
    form.form-compact{
        @include form-compact();
    }
}
