
@mixin form-compact() {
    .form-group {
        display: flex;
        padding-left: 0px;
        label, legend{
            text-align: left;
            position: static;
        }
    }
    fieldset.form-group{
        padding-left: 0px;
        position: relative;
        >legend, label{
            text-align: left;
            position: static;
            width: auto;
        }
    }
}

@mixin form-wide() {
    .form-group {
        position: relative;
        padding-left: $sidebar-width+$space-size*2;
        >label,
        >legend {
            position: absolute;
            top: 0px;
            left: 0px;
            width: $sidebar-width;
            text-align: right;
        }
        >label.checkbox,
        >label.radio{
            text-align: left;
        }
    }
    fieldset.form-group{
        display: flex;
        padding-left: $sidebar-width+$space-size*2;
        position: relative;
        >legend {
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}