.form-inline {
    display: inline-table;
    >*{
        display: inline-block;
        position: relative;
        padding-right: $space-size;
        &:last-child{
            padding-right: 0px;
        }
        input[type=text], select{
        }
    }
    .form-group{
        padding-left: 0px; // form-wide sets this to 180px
    }
    .form-group label{
        text-align: left;
        padding-left: 0px;
        width: 3em;
    }
    .form-group input{
            text-align: left;
            width: 90%;
            margin-right: 8.5em;
        }
}