.form-inline {
    display: block;
    >*{
        display: inline-block;
        position: relative;
        padding-right: $space-size;
        &:last-child{
            padding-right: 0px;
        }
        input[type=text], select{
            width: 100%;
        }
    }
    .form-group{
        padding-left: 0px; // form-wide sets this to 180px
    }
    .form-group label{
        position: absolute;
        text-align: left;
        top: -1.7em;
        left: 0em;
    }
}