
.table-lightblue {
  border-color: #D4E1F9;
  background: #E4F1F9;
}

.table-lightblue tbody tr:nth-child(2n+1) td {
  background: #F3FBFE;
}

.table-lightblue tbody tr:hover td,
.table-lightblue tbody tr:hover th,
.table-lightblue tbody tr:hover td a {
  background: #EDF5F9;
  color: #005580;
}

.table-lightblue.table-bordered th,
.table-lightblue.table-bordered td {
  border: 1px solid #d4e1f9;
}

.table-lightblue th,
.table-lightblue th a,
.pagination.lightblue ul > li > a {
  border-color: #ffffff;
  color: #224477;
  background: #D9EDF7;
  background: -moz-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9EDF7), color-stop(100%, #B9DEF0));
  background: -webkit-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: -o-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: -ms-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: linear-gradient(to bottom, #D9EDF7 0%, #B9DEF0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD9EDF7', endColorstr='#FFB9DEF0',GradientType=0 );
}

.table-lightblue thead .sorting-no {
  float: right;
  width: 13px;
  height: 20px;
  background: url("../img/sort.png") no-repeat center right;
}

.table-lightblue thead .sorting-asc {
  float: right;
  width: 13px;
  height: 20px;
  background: url("../img/sort-asc.png") no-repeat center right;
}

.table-lightblue thead .sorting-desc {
  float: right;
  width: 13px;
  height: 20px;
  background: url("../img/sort-desc.png") no-repeat center right;
}

.table-lightblue thead .sorting-no-img {
  float: right;
  width: 1px;
  height: 20px;
  background: none;
}

.margin-before {
    margin-left: 2px;
}
