<!DOCTYPE html>
<html ng-app="motech-dashboard">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOTECH</title>
    <link rel="stylesheet" type="text/css" href="motech.css">
</head>
<body motech-app-state ng-class="{'is-ready':appReady}">
    <header role="banner" class="app-header">
        <a href="/" class="logo">MOTECH</a>
        <div class="navbar">
            <nav class="collapsible" ng-include="'/app/nav-main.html'"></nav>
            <nav motech-auth motech-i18n class="motech-auth-menu" >
                <a class="icon-user">{{userName}}</a>
                <button ng-click="changeLanguage()" class="icon-language">{{language.name}}</button>
                <button class="icon-sign-out icon-only" ng-click="logout()">Logout</button>
            </nav>
        </div>
    </header>
    <section class="app">
        <header>
            <div ncy-breadcrumb></div>
            <div class="secondary-nav navbar">
                <button class="navigation icon app-nav-button">Show navigation</button>
                <div ui-view="secondaryNav"></div>
            </div>
        </header>
        <nav app-nav ng-include="'/app/nav-secondary.html'"></nav>
        <article ui-view="appArea"></article>
    </section>
    <footer ng-include="'/app/footer.html'"></footer>
    <script type="text/javascript" src="motech.js"></script>
</body>
</html>
