
// COLORS
$black: #000000;
$gray: lighten($black, 30);
$gray-light: lighten($black, 80);
$gray-lighter: #FAFAFA;
$white: #FFFFFF;
$green: #449d44;
$red: #d9534f;

$dark-blue: #144573;
$blue: lighten($dark-blue, 15);
$powder-blue: #E4F1F9;
$yellow: #FFB900;

$red: #b94a48;
$green: #468847;

$brand-primary: $dark-blue;
$brand-secondary: $yellow;
$brand-accent: $powder-blue;

$btn-default-bg: #eee;
$btn-primary-bg: $blue;

$success: $green;
$error: $red;

// LAYOUT
$space-size: 15px;
$sidebar-width: 180px;
$text-field-width: 150px;


// BORDERS
$border-color:                $gray-light;
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

// MODALS
$modal-md: 450px;
$modal-sm: 230px;

// External libraries
@import 'bourbon';
@import 'font-awesome';
@import 'bootstrap';
@import 'textAngular';