body>footer{
    background-color: $brand-accent;
    border-top: $gray-light 1px solid;
    dt:after{
        content: ":";
    }
    dd:after{
        content: ";";
    }
}

body>footer{
    height: $space-size*2;
    padding-top: 0.25em;
    overflow: hidden;
    .container{
        overflow: hidden;
        padding-right: $sidebar-width;
        &>nav{
            position: absolute;
            top: 0px;
            right: 0px;
            text-align: right;
            height: 100%;
        }
    }
    nav > a{
        padding: 0em;
        padding: 0.25em;
    }
    dd, dt, dl{
        display: inline-block;
    }
    dd{
        margin-right: 0.5em;
    }
}

