footer{
    background-color: $brand-accent;
    border-top: $gray-light 1px solid;
    dt:after{
        content: ":";
    }
    dd{
        content: ";";
    }
}

footer{
    font-size: $font-size-small;
    height: 2em;
    padding-top: 0.25em;
    overflow: hidden;
    white-space:nowrap;
    .container{
        >*{
            display: inline-block;
        }
    }
    nav{
        float: right;
    }
    nav    > a{
        padding: 0em;
    }
    dd, dt, dl{
        display: inline-block;
    }
    dd{
        margin-right: 0.5em;
    }
}

