.app-header {
	@extend .clearfix;
	.logo {
		display: block;
		overflow: hidden;
		margin: 0px auto;
		width: 160px;
		height: 50px;
		background-size: 160px;
		background-repeat: no-repeat;
		text-indent: -3000px;
		@include background-image(url("/app/motech-logo.gif") center no-repeat);
	}
	.description {
		display:none;
		text-transform:uppercase;
		text-align: center;
		font-size: $font-size-large;
		line-height: 1.5em;
		color: $brand-primary;
		margin: 0px;
	}
	.navbar{
		font-size: 1em;
		padding: 0px;
		margin: 0em;
		color: $white;
		background-color: $brand-primary;
		border-bottom: $brand-accent 1px solid;
		height: 50px;
		a{
			color: $white;
		}
		#{$navItemSelectors} {
			color: $white;
		}
		a.is-active,
		li.is-active a,
		a.active,
		li.active a{
			background-color: $brand-accent;
			color: $brand-primary;
			border: 0px;
		}
		button{
			margin:0px;
			margin: 0.25em;
			font-size: 1em;
			color: $text-color;
			height: 100%;
		}
	}
	nav ul{
		li{
			
		}
		li.active>a{
			color: $brand-primary;
			&:hover{
				color: darken($brand-primary, 15);
			}
		}	
	}
	.motech-auth-menu{
		float: right;
	}
}

@media (min-width: $screen-sm) {
	.app-header .logo{
		width: $container-sm;
	}

}
@media (min-width: $screen-md) {
	.app-header .logo{
		width: $container-md;
	}

}
@media (min-width: $screen-lg) {
	.app-header .logo{
		width: $container-lg;
	}

}