/*
Layout

This application uses a responsive layout.

Styleguide 2.0
*/

$appHeaderHeight: 73px;

html{
	height: 100%;
}

body{
	display:flex;
	flex-direction: column;
	height: 100%;
	>header{
		flex: 0 0 auto;
	}
	>.app-container{
		flex: 1 0 auto;
	}
}

.app-container{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	>*{
		flex: 1 0 auto;
	}
}

.app-nav,
.app-sidebar{
	position: relative;
	.container{
		width: auto !important;
	}
}


.app-nav{
	display: none;
	&.open,
	&.is-open {
		display: block;
		position: fixed;
		top: 0px;
		z-index: 10;
		height: 100%;
		left: 0px;
		box-shadow: 1em 0em 2em $white;
	}
	.container{
		margin: 0px;
	}
	&:after{
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		background-color: $brand-accent;
		z-index: -1;
	}
}
.app-nav-backdrop{
	display: block;
	position:fixed;
	top: 0px;
	left: 0px;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: $white;
	opacity: 0.7;
}
@media(min-width: $screen-md) {
	.app-nav{
		display:block;
		padding-top: $appHeaderHeight;
		width: $sidebar-width;
		margin-right: -1px;
		&:after{
			border-right: $gray-light 1px solid;
		}
		&.is-open,
		&.open{
			position: relative;
			box-shadow: none;
			height: auto;
		}
	}
	.app-nav-button, .app-nav-backdrop {
		display:none !important;
	}
}

.app-sidebar{
	display: none;
	position: relative;
	width: $sidebar-width;
	margin-top: $appHeaderHeight;
	header{
		font-size:1em;
		background-color:$white;
		padding: 0.5em 1em;
		position: absolute !important;
		top: -2em;
		left: 0px;
		width:auto;
		border: $gray-light 1px solid;
		border-bottom: transparent;
	}

	.container{
		padding: $space-size;
	}
	&:after{
		content: "";
		height: $appHeaderHeight;
		width: 100%;
		position: absolute;
		top: -$appHeaderHeight;
		z-index: -1;
		background-color: $brand-accent;
		border-bottom: $gray-light 1px solid;
	}
	.open, .is-open{
		display: block;
	}
}
.app-container.sidebar-showing{
	overflow: visible;
	position: relative;
	right: 70px;
	.app-sidebar{
		display:block;
	}
}
@media(min-width: $screen-lg){
	.app-sidebar{
		display: block;
		.container {
			width: $sidebar-width !important;
			margin: 0px;
		}
	}
	.app-sidebar>header .close{
		display: none;
	}
	.motech-sidebar-button{
		display:none !important;
	}
	.app-container.sidebar-showing{
		position: static;
		overflow: hidden;
	}
}

.app{
	position: relative;
	&:after{
		content: "";
		position: absolute;
		top:0px;
		left: 0px;
		z-index: -1;
		width: 100%;
		height: $appHeaderHeight;
		background-color: $brand-accent;
		border-bottom: $gray-light 1px solid;
	}
	>header{
		@extend .container;
		position: relative;
		height: $appHeaderHeight;
		.navbar{
			border-bottom: transparent;
			position: absolute;
			bottom:0px;
		}
	}
}
@media (min-width: $screen-md) {
	.app {
		flex-grow: 0;
		.container{
			width: $container-md - $sidebar-width;
			margin: 0px;
		}	
	}
}
@media (min-width: $screen-lg) {
	.app .container{
		width: $container-lg - $sidebar-width*2;
	}
}