/*
Layout

This application uses a responsive layout.

Styleguide 2.0
*/

html{
    height: 100%;
}
body{
    overflow-x: hidden;
    min-height: 100%;
}

body>.app,
body>header,
body>footer {
    display:none;
}

body.is-ready{
    &>.app,
    &>header,
    &>footer{
        display:block;
    }
}
.app{
    @extend .container;
    margin-left: 0px;
    margin-right: 0px;
}
@media(min-width: $screen-sm){
    .app{
        margin-left: auto;
        margin-right: auto;
    }
}

.app{
    @extend .clearfix;
    position: relative;
    padding-top: $appHeaderHeight + $space-size !important;
    white-space: nowrap;
    >*{
        display: inline-block;
        vertical-align: top;
    }
    >header{
        position: absolute;
        top: 0px;
        left: 0px;
        height: $appHeaderHeight;
        width: 100%;
    }
    >article{
        width: 100%;
    }
    >nav,
    >aside{
        display: none;
        position: relative;
        width: $sidebar-width;
        form{
            @include form-compact()
        }
    }
    &.has-open-sidebar{
        right: $sidebar-width;
        &>aside{
            display:inline-block;
        }
        .motech-sidebar-button{
            @extend button.active;
        }
    }
    &.has-open-nav{
        .app-nav-button{
            @extend button.active;
        }
        &>nav{
            display:inline-block;
        }
        &>header{
            left: $sidebar-width !important;
        }
    }
    &.has-open-nav.has-open-sidebar{
        right: $sidebar-width*2;
    }
}
@media(min-width: $screen-md) {
    .app>article{
        width: $container-md - $sidebar-width - $space-size*2;
    }
    .app>nav{
        display:inline-block;
    }
    .app-nav-button{
        display:none !important;
    }
    .app > header{
        padding-left: $sidebar-width !important;
    }
}
@media(min-width: $screen-lg){
    .app>article{
        width: $container-lg - $sidebar-width;
    }
    .app.has-sidebar>article{
        width: $container-lg - $sidebar-width*2 - $space-size*2;
    }
    .app>aside{
        display: inline-block;
    }
    .app>aside header .close{
        display: none;
    }
    .motech-sidebar-button{
        display:none !important;
    }
}

.app>header{
    .navbar{
        border-bottom: transparent;
        float: left;
    }
}

// Background brand accent
body.is-ready{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top:100px; // banner height
        left: 0px;
        z-index: -1;
        width: 100%;
        height: $appHeaderHeight;
        background-color: $brand-accent;
        border-bottom: $gray-light 1px solid;
    }
}



body>footer {
    display: none;
}
@media(min-width: $screen-sm){
    body{
        padding-bottom: 24px;
    }
    body>footer{
        display: block;
        padding-top:0em;
        height: 24px;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}