
.app-nav{
	#{$navItemSelectors} {
		float:none;
		padding: 1em;
		border-bottom: $gray-light 1px solid;
	}

	.nav-section {
		border-top: $gray-light 1px solid;
		.title{
			font-size: $font-size-small;
			font-weight: bold;
			background-color: $gray-light;
			padding: 0.5em 1em;
		}
	}

	a.is-active,
	li.is-active a,
	a.active,
	li.active a {
		background-color: $white;
		color: $brand-primary;
	}

	.container{
		padding: 1em 0em;
	}
}

@media(min-width: $screen-md){
	.app .breadcrumb{
		padding-left: 1.5em;
	}	
}

.app>.container{
	padding-top: 1em;
	padding-bottom: 2em;
}