.app>aside{
    padding-left: $space-size;
    header{
        position: absolute;
        top: 0px - 30px - $space-size;
        height: 30px;
        font-size:1em;
        background-color:$white;
        padding: $space-size/2 $space-size;
        padding-right: 3em;
        width:auto;
        border: $gray-light 1px solid;
        border-bottom: transparent;
        h3{
            font-size: 1em;
            padding: 0px;
            margin: 0px;
        }
        .close{
            position: absolute;
            top: $space-size/2;
            right: $space-size/2;
            width: $space-size;
            height: $space-size;
            background: transparent;
            &:before{
                top: 0px;
                color: $gray-light;
            }
            &:hover{
                background: transparent;
                &:before{
                    color: $gray;
                }
            }
        }
    }
}
