.bundle-icon{
    display: block;
    width: 2em;
    float:left;
}
.motech-list .bundle-main{
	position: relative;
	padding-left: 4em !important;
	padding-right: 3em !important;
	h4{
		margin: 0px;
	}
	.bundle-icon{
		position: absolute;
		top: -0.25em;
		left: 0.5em;
	}
	.icon-documentation{
		position: absolute;
		right: 0.5em;
		top: -0.25em;
	}
}

.button-separator{
    margin: 0.5em;
}

legend{
    padding-bottom: 2px;
}