<motech-list>
    <motech-list-item ng-repeat="bundle in bundles" >
        <div column-title="Name" class="bundle-main">
            <a ui-sref="bundles.bundle({bundleId:bundle.bundleId})">
                <img class="bundle-icon" alt="" ng-src="{{bundle.getIconURL()}}" />
                <h4 >{{bundle.name}}</h4>
            </a>
            <a class="icon-documentation icon-only" href="{{bundle.docURL}}" target="_blank">Documentation</a>
        </div>
        <motech-list-column column-title="ID" sortable>{{bundle.bundleId}}</motech-list-column>
        <motech-list-column column-title="Version" sortable>{{bundle.getVersion()}}</motech-list-column>
        <motech-list-column column-title="State" sortable>{{bundle.state}}</motech-list-column>
        <nav column-title="Actions">
            <div  class="button-group">
                <button class="icon start" ng-click="bundle.start()" ng-if="!bundle.isActive()">{{msg('admin.bundles.start')}}</button>
                <button class="icon stop" ng-click="bundle.stop()" ng-if="bundle.isActive()">{{msg('admin.bundles.stop')}}</button>
                <button class="icon restart" ng-click="bundle.restart()" ng-if="bundle.isActive()">{{msg('admin.bundles.restart')}}</button>
                <button class="icon settings" ng-click="loadBundleSettingsPage(bundle)" ng-if="showSettings(bundle)">{{msg('admin.settings')}}</button>
                <button class="icon delete" ng-click="bundle.uninstall()">{{msg('admin.bundles.uninstall')}}</button>
            </div>
        </nav>
    </motech-list-item>
</motech-list>