<div>
    <h4 class="frame-title">{{module.name}}</h4>

    <div class="settings-form" ng-repeat="mSettings in moduleSettings">
        <form name="settingsForm">
            <fieldset>
                <motech-list>
                    <motech-list-item ng-repeat="setting in mSettings.settings | orderBy:'key'" >
                        <div sortable>{{setting.key}}</div>
                        <motech-list-column sortable>
                            <input class="form-control" type="text" id="{{setting.key}}" name="{{setting.key}}" ng-model="setting.value"/>
                        </motech-list-column>
                    </motech-list-item>
                </motech-list>
            </fieldset>
            <input type="hidden" name="section" value="{{mSettings.section}}" />

            <div class="button-group-primary">
                <button class="button-primary button-separator" ng-click="saveSettings(mSettings)">{{'admin.submit' | translate}}</button>
                <button class="button-primary button-separator" ng-click="saveSettings(mSettings, true)">{{'admin.submitAndRestart' | translate}}</button>
            </div>
        </form>
    </div>

    <div class="settings-form" ng-repeat="rawFile in rawFiles">
        <legend>{{rawFile}}</legend>
        <form id="_raw_{{rawFile}}">
            <div class="form-group fileinput fileinput-new" data-provides="fileinput">
                <label>{{'admin.button.selectFile' | translate}}</label>
                <div class="form-group">
                    <motech-file-upload file="fileValue"></motech-file-upload>
                    <input type="hidden" value="{{rawFile}}" name="filename"/>
                </div>
            </div>
            <div class="button-group-primary">
                <button class="button-primary button-separator" ng-click="uploadRaw(rawFile)">{{'admin.submit' | translate}}</button>
                <button class="button-primary button-separator" ng-click="uploadRaw(rawFile, true)">{{'admin.submitAndRestart' | translate}}</button>
            </div>
        </form>
    </div>
</div>