<form id="bundleUploadForm" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label><b>{{'admin.bundles.upload' | translate}} {{'admin.import.from' | translate}} </b></label>
        </div>
        <div class="form-group">
            <select class="form-control form-control-select" name="moduleSource" ng-model="moduleSource"
                    ng-options="item for item in moduleSources track by item"></select>
        </div>
        <div class="form-group" ng-show="moduleSource=='Repository'">
            <select class="form-control form-control-select" name="moduleId" ng-model="module"
                    ng-options="key as value for (key, value) in modules track by key"
                    ng-show="moduleSource=='Repository'">
                <option value="">{{'admin.bundles.selectModule' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <div class="input-append btn-group fileinput fileinput-new" data-provides="fileinput"
                 ng-show="moduleSource=='File'">
                <motech-file-upload></motech-file-upload>
            </div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="startBundle" name="startBundle" ng-model="startBundle" ng-checked="startUpload"/>{{'admin.bundles.startOnInstall' | translate}}</label>
        </div>
    <button ng-click="hideInstallModulesModal()">Close</button>
    <input type="submit" ng-click="submitBundle()">
</form>