<span class="id bundle-id">{{bundle.bundleId}}</span>
<img class="icon bundle-icon" src="{{imgSrc}}" />
<span class="title bundle-title">{{bundle.name}}</span>
<a ng-click="BundleCtrl.showDetails()">Information</a>
<nav class="actions">
	<button class="icon start" ng-click="BundleCtrl.start()" ng-if="!active">Start</button>
	<button class="icon stop" ng-click="BundleCtrl.stop()" ng-if="active">Stop</button>
	<button class="icon restart" ng-click="BundleCtrl.restart()" ng-if="active">Restart</button>
	<button class="icon settings" ng-click="BundleCtrl.editSettings()" ng-if="active">Settings</button>
	<button class="icon remove" ng-click="BundleCtrl.uninstall()">Uninstall</button>
</nav>