@mixin bundle(){
	border: $gray 1px solid;
	margin-top: 1em;
	margin-bottom: 1em;
	.bundle-title{
		font-size: $font-size-large;
	}
	dt{
		float:left;
	}
	img.icon{
		height: 2em;
	}
	.actions{
		background-color: $brand-accent;
		padding: 1em 2em;
	}
}

@mixin bundle-row(){
	@include bundle();
	display: flex;
	flex-direction: row;
	border-width: 0px;
	border-width-top: 1px;
	margin-bottom: 0.5em;
	.bundle-title{
		order: 1;
		flex: 1 0 auto;
		font-size: $font-size-base;
	}
	.bundle-description{
		order: 1;
		flex: 4 0 auto;
	}
	dl{
		order: 2;
		flex: 4 0 auto;
	}
	dt{
		display: none;
	}
	dd{
		float: left;
		margin-right: 1em;
	}
	.actions{
		background-color:transparent;
		padding: 0em;

		order: 4;
		flex: 1 0 auto;
		min-width: 130px;
		max-width: 130px;
	}
}