<span class="bundle-title">
	<img class="icon bundle-icon" src="{{imgSrc}}" />
	{{bundle.name}}
</span>
<p class="bundle-description">
	<a ng-click="BundleCtrl.showDetails()">Information</a>
</p>
<dl>
	<dt>Process ID</dt>
	<dd class="bundle-id">{{bundle.bundleId}}</dd>
	<dt>Version</dt>
	<dd class="bundle-version">{{bundle.version.major}}.{{bundle.version.minor}}.{{bundle.version.micro}}-{{bundle.version.qualifier}}</dd>
	<dt>State</dt>
	<dd class="bundle-state">{{bundle.state}}</dd>
</dl>
<nav class="actions">
	<button class="icon start" ng-click="BundleCtrl.start()" ng-if="!active">Start</button>
	<button class="icon stop" ng-click="BundleCtrl.stop()" ng-if="active">Stop</button>
	<button class="icon restart" ng-click="BundleCtrl.restart()" ng-if="active">Restart</button>
	<button class="icon settings" ng-click="BundleCtrl.editSettings()" ng-if="active">Settings</button>
	<button class="icon delete" ng-click="BundleCtrl.uninstall()">Uninstall</button>
</nav>