.app-header {
	@extend .clearfix;
	.logo {
		display: block;
		overflow: hidden;
		width: 160px;
		height: 50px;
		background-size: 160px;
		text-indent: -3000px;
		margin: 0px 2em;
	}
	.description {
		display:none;
		text-transform:uppercase;
		text-align: center;
		font-size: $font-size-large;
		line-height: 1.5em;
		color: $brand-primary;
		margin: 0px;
	}
	.navbar{
		font-size: 1em;
		padding: 0px;
		margin: 0em;
		color: $white;
		background-color: $brand-primary;
		border-bottom: $brand-accent 1px solid;
		height: 50px;
		#{$navItemSelectors} {
			color: $white;
		}
		a.is-active,
		li.is-active a,
		a.active,
		li.active a{
			background-color: $brand-accent;
			color: $brand-primary;
			border: 0px;
		}
		button{
			margin:0px;
			margin: 0.25em;
			font-size: 1.2em;
		}
	}
	nav ul{
		li{
			
		}
		li.active>a{
			color: $brand-primary;
			&:hover{
				color: darken($brand-primary, 15);
			}
		}	
	}
}

@media (min-width: $screen-md) {
	.app-header{
		padding-top: 50px;
		position:relative;
		.description{
			display: block;
			width: 100%;
			position:absolute;
			bottom: 50px;
			left: 0px;
		}
		.logo{
			position: absolute;
			bottom: 50px;
			left: 0px;
			z-index: 10;
			padding: 0em 2em;	
		}
	}

}