/*
Layout

This application uses a responsive layout.

Styleguide 2.0
*/

header{
	.logo{
		display: block;
	}
	.description{
		display: block;
	}
}

.app{
	position: relative;
}

.app-nav,
.app-sidebar {
	display: none;
}

.app-sidebar .container{
	width: auto !important;
}

@media (min-width: $screen-md) {
	
	.app-nav{
		display:block;
	}

	.app{
		display:flex;
		flex-direction: row;
	}
	.app-main{
		flex: 1 0 auto;
	}
	.app-nav,
	.app-sidebar{
		flex: 0 0 auto;
		width: $sidebar-width;
		background-color: $brand-accent;
	}
	body{
		header{
			background: $white;
		}
		background-color: $white !important;
		@include linear-gradient(to right, $brand-accent $sidebar-width, transparent $sidebar-width+1);
	}
	.app-main .container{
		width: $container-md - $sidebar-width;
	}
}
@media (min-width: $screen-lg) {
	.app-main .container{
		width: $container-lg - $sidebar-width*2;
	}
	.app-sidebar{
		display: block;
	}
}