/*
Navigation

Styleguide 5.0
*/

nav {
	@extend .nav-stacked;
	ul{
		@extend .list-unstyled;
		margin: 1em 0em;
	}
	ul>li{
		@include navItem($brand-primary, $white);
	}
}

nav.tertiary-nav{
	@extend .nav-bar;
	background-color: $brand-accent;
	margin-bottom: 1em;
	ul {
		@extend .navbar-nav;
	}
	ul>li {
		@include navItem($brand-primary, $white);
		a{
			padding: 0.5em 1em;
		}
	}
}


@media (min-width: $screen-md) {
	button.navigation{
		display: none;
	}
	nav{
		.collapse,
		&.collapse{
			display:block;
		}
	}
	nav.tertiary-nav{
		margin: 0px 0.5em 0.5em;
	}
}

