.app-sidebar{
	display: none;
	background-color: $brand-accent;
	&.is-open{
		display:block;
		position:absolute;
		top: 0px;
		right: 0px;
		width: $sidebar-width;
		height: 100%;
	}
}

@media (min-width: $screen-lg) {
	.app-sidebar,
	&.app-sidebar.is-open{
		display: block;
		position: static;
		height: auto;
	}
	.motech-sidebar-button{
		display:none;
	}
}